
.animation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to right,
    skyblue,
    rgb(150,116,254),
    rgb(207,104,205),
    rgb(236, 70, 70),
    rgb(229, 161, 35)
  );
  border-radius: 0 0 50% 50%;
  filter: blur(24px);
  /* initial size zero */
  width: 0;
  height: 0;
  opacity: 0;
  transition: width 100ms linear,
              height 100ms linear,
              opacity 100ms linear;
}

.controls {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
}
.controls button {
  margin-right: 8px;
  padding: 6px 12px;
  font-size: 18px;
}
